@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-check-up {
    padding: rem(120px) 0;
}

.cards {
  display: grid;
  gap: rem(32px);
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr;

  @include mq(min, sm) {
    grid-template-columns: repeat(2, 1fr);
  }  

  @include mq(min, lg) {
    grid-template-columns: repeat(3, 1fr);
  }  
 

  .card {
    background-color: var(--color-accent);
    box-shadow: 0 0 rem(2px) #baa38f;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: rem(6px);

    &:hover,
    &:focus-within {
      box-shadow: 0 0 rem(4px) #baa38f;
    }

    &__image {
      width: 100%;
      aspect-ratio: 16 / 9;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__body {
        padding: rem(30px);
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;        
    }

    &__title {
      font-family: var(--font-secondary);  
      font-size: rem(38px);
      line-height: rem(46px); 
      font-weight: 300;
      margin: 0 0 rem(20px);
    }

    &__subtitle {
      font-size: rem(28px);
      line-height: rem(36px);
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: rem(12px);
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    &__tag {
        background-color: var(--color-text);
        color: #fff;
        font-size: rem(16px);
        padding: rem(6px) rem(8px);
        border-radius: rem(4px);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: box-shadow var(--transition);

        &:hover {
            box-shadow: 0 0 rem(2px) #baa38f;
        }
    }

    &__price {
        font-family: var(--font-secondary);  
        padding-top: rem(40px);
        font-size: rem(42px);
        margin-top: auto;
    }


  }
}


