@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-faq-list {
    padding: rem(60px) 0;  

    .title-desc-right {
        > div {
            flex: none;
        }
    }
} 


.faq-list {

    &__item {
        position: relative;
        z-index: 3;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: rem(1px);
            background-color: var(--color-accent);
        }

      &.active {
        transition: var(--transition);
        background-color: #f5f5f5;
        
        .faq-list__img {
            img {
                transform: scale(0.7) !important;
                opacity: 0 !important;
            }
        }

        .answer-img {
            img {
                opacity: 1;
                transform: scale(1);
            }
        }        

      }

        &:last-child {
            &:after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: rem(1px);
                background-color: var(--color-accent);
                z-index: -1;
            }   
        }      

      &:hover {

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            height: rem(1px);
            background-color: var(--color-accent);
            z-index: -1;
        }
        
        .faq-list__answer {
            background-color: #f5f5f5;
        }
        .faq-list__img {
            img {
                transform: scale(1);
                opacity: 1;
            }
        }
      }

    }

    &__question {
        width: 100%;
        display: flex;
        // justify-content: space-between;
        font-size: rem(24px);
        line-height: rem(30px);
        background: none;
        border: 0;
        cursor: pointer;
        padding: rem(20px);
        position: relative;

        @include mq(min, sm) {
            font-size: rem(32px);
            line-height: rem(38px);
        }        

        &:hover {
            .bg-item {  
                height: 100%;
            }
        }

        .bg-item {
            z-index: -1;
            background-color: #f5f5f5;
            height: 0%;
            position: absolute;
            inset: 50% 0% 0%;
            transform: translateY(-50%);
            transition: height 0.5s ease;
        }

    }

    &__img {
        position: relative;
        width: 26vw;

        display: none;

        @include mq(min, sm) {
            display: block;
        }


        img {
            opacity: 0; 
            transform: scale(0.7);
            transition: transform 0.6s ease, opacity 0.6s ease; 
            position: absolute;
            top: rem(-40px);
            left: 0;
            right: 0;
            margin: auto;     
            border-radius: rem(12px);
        }
    }

    &__text {
        letter-spacing: 2.2px;
        margin-left: 20px;

        @include mq(min, sm) {
            margin-left: 0;
        }

    }

    &__icon {
        margin-left: auto;

        svg {
            transition: transform 0.3s ease;
            width: rem(38px);
            height: rem(38px);
        }
    }

    // Answer block
    &__answer {
        overflow: hidden;
        height: 0;
    }

    &__answer-inner {
        display: flex;
        justify-content: space-between;
        gap: rem(50px);
        padding: rem(30px) rem(20px);
    }

    .answer-img {
        flex: 1;
        img {
            width: 100%;
            max-width: rem(460px);
            opacity: 0;
            transform: scale(0.9) translateY(20px);
            transition: transform 0.6s ease, opacity 0.6s ease; 
        }

        display: none;

        @include mq(min, sm) {
            display: block;
        }
    }


    .inner-text {
        flex: 1;
    }

    .buttons-wrap {
        margin-top: rem(40px);
    }

}

.list-check {
    display: table;
    width: 100%;
    margin-top: rem(-20px);
    padding-left: rem(35px);

    &__item {
        display: table-row;       
    }

    &__text {
        display: table-cell;
        font-size: rem(20px);
        line-height: rem(26px);
        color: var(--color-text);
        
        vertical-align: bottom;
        background-image: radial-gradient(var(--color-text) 1px, #f5f5f5 0px);
        background-size: 8px 8px;
        background-repeat: repeat-x;
        background-position: left bottom; 

        padding-top: rem(20px);
        

        position: relative;

        &::before {
            content: '';
            background-image: url(../img/list-check.svg);
            background-repeat: no-repeat;
            position: absolute;
            top: rem(20px);
            left: -35px;
            width: rem(28px);
            height: rem(28px);
        }
        
    }

    &__price {
        text-align: right;
        display: table-cell;
        font-size: rem(20px);
        font-weight: 600;
        color: var(--color-accent);

        vertical-align: bottom;
        background-image: radial-gradient(black 1px, #f5f5f5 0px);
        background-size: 8px 8px;
        background-repeat: repeat-x;
        background-position: left bottom; 
        min-width: 144px;

        span {
            padding-left: rem(3px);
        }
    }

    &__text,
    &__price {

        span {
            background-color: #f5f5f5;
        }

    }
}
