@use "mixins/rem" as *;
@use "mixins/includes" as *;
@use "mixins/media-query" as *;

// --- SCROLLED HEADER STATE ---
.is-opened,
.is-scrolled {

  .header {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(1.5rem);
    padding: rem(14px) 0;
    max-width: calc(100vw - rem(30px));
    margin-top: 15px;
    justify-content: center;
    gap: rem(20px);
    background-color: rgba(255,255,255, .3);

    transition:
      max-width var(--transition-long),
      margin var(--transition-long),
      justify-content var(--transition-long),
      box-shadow var(--transition-long),
      backdrop-filter var(--transition-long),
      padding var(--transition-long),
      background-color var(--transition-long),
      gap var(--transition-long);

      @include mq(min, 1140px) {
        margin-top: 20px;
        max-width: calc(90vw - rem(100px));
        padding: rem(24px) 0;
      } 

      @include mq(min, 2020px) {
        max-width: calc(2010px - rem(64px));
    } 

    &__container {
      
    }

    .nav {
      &__link {
        font-size: rem(18px);
        line-height: 1.04;
        transition: color var(--transition-long), font-size var(--transition-long), line-height var(--transition-long);

        @include mq(min, lg) {
          font-size: rem(20px);
          line-height: 1.04;
        }
      }
    }

    &__logo {
      &-link {
        svg {
          width: rem(180px);
          transition: width var(--transition-long);
        }
      }
    }

    &__icon {
      svg {
        width: rem(28px);
        height: rem(28px);
        transition: width var(--transition-long), height var(--transition-long);
      }
    }
  }
}

.is-opened {
  .header {
  
    @include mq(min, sm) {
    box-shadow: none;
    backdrop-filter: blur(0);
    padding: rem(24px) rem(16px);
    max-width: 100%;
    margin-top: 0;
    }  
  }
}

// --- BASE HEADER ---
.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  
  width: calc(2010px - rem(64px));
  
  z-index: 100;
  padding: rem(24px) 0;

  transition:
    background-color var(--transition-long),
    box-shadow var(--transition-long),
    backdrop-filter var(--transition-long),
    padding var(--transition-long);

    @include mq(min, 1140px) {
      margin-top: 20px;
      padding: rem(24px) 0;
    }     
       

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30px);
    width: 100%;
  }

  &__logo {
    margin: 0;

    &-link {
      display: block;
      margin-top: rem(-14px);
      font-size: rem(24px);
      font-weight: 700;
      color: var(--color-text);
      text-decoration: none;

      @include mq(min, lg) {
        margin-top: rem(-19px);
      }      

      svg {
        width: rem(180px);
        height: auto;
        transition: width var(--transition-long);

        @include mq(min, lg) {
          width: rem(260px);
        }
      }
    }
  }

  &__icons {
    transition: width var(--transition-long);
    display: flex;
    justify-content: flex-end;
    gap: rem(18px);
    margin-left: auto;
    width: auto;

    @include mq(min, sm) {
      margin-left: 0;
    }      

    @include mq(min, 1140px) {
      gap: rem(32px);
    }     

    @include mq(min, 1460px) {
      width: rem(260px);
    }         

  }

  .nav {
    z-index: 101;
    width: auto;
    display: none;

    @include mq(min, sm) {
      display: block;
    }   

    &__list {
      display: flex;
      gap: rem(14px);
      list-style: none;
      margin: 0;
      padding: 0;

      @include mq(min, 1140px) {
        gap: rem(22px);
      }        
    }

    &__item {
      display: flex;
      will-change: transform, opacity;
    }

    &__link {
      font-family: var(--font-secondary);
      font-size: rem(18px);
      line-height: 1.04;
      color: var(--color-text);
      text-decoration: none;
      transition: color var(--transition-long), font-size var(--transition-long), line-height var(--transition-long);

      @include mq(min, 1140px) {
        font-size: rem(20px);
      }      

      @include mq(min, lg) {
        font-size: rem(26px);
        line-height: 1.02;
      }

      &:hover {
        color: var(--color-accent);
      }
    }


    &--mobile {
      display: block;
      overflow: hidden;

      .nav__list {
        flex-direction: column;
        gap: rem(16px);
        padding: rem(22px) 0;

        .nav__link {
          font-size: rem(26px);
          color: var(--color-text2);

        } 


      }

        .buttons-wrap {
          &:not(:last-child) {
            margin-bottom: rem(16px); 
        }
      }
      @include mq(min, sm) {
        display: none;
      }  
    }

  }

  &__icon {
    font-size: rem(20px);
    transition: transform var(--transition-long), color var(--transition-long);

    svg {
      width: rem(28px);
      height: rem(28px);
      transition: width var(--transition-long), height var(--transition-long);

      @include mq(min, 1140px) {
        width: rem(34px);
        height: rem(34px);
      } 
    }

    &:hover {
      color: var(--color-accent);
      transform: scale(1.15);
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;

    .burg-part {
      position: absolute;
      inset: 0;
      transition: transform var(--transition);   
      transform: rotate(0);
    }

    .burg1,
    .burg2,
    .burg3, 
    .burg4 {
      position: relative;
      transition: transform var(--transition);
      transform: translate(0, 0);
    }

    &.opened {

      .burg-part {
        transform: rotate(-90deg);
      }

      .burg1 {
        transform: translate(rem(5.5px), rem(5.5px));
      }
      
      .burg2 {
        transform: translate(rem(-5.5px), rem(5.5px));
      }
      
      .burg3 {
        transform: translate(rem(-5.5px), rem(-5.5px));
      }
      
      .burg4 {
        transform: translate(rem(5.5px), rem(-5.5px));
      }
    }

    span {
      width: rem(26px);
      height: rem(3px);
      background: var(--color-text);
      border-radius: rem(2px);
      transition: background var(--transition-long);
    }
  }
}

// --- HEADER LAYOUT ---
.header {
  max-width: 100%;
  margin: 0 auto;
  gap: rem(10px);

  transition:
    max-width var(--transition-long),
    margin var(--transition-long),
    justify-content var(--transition-long),
    box-shadow var(--transition-long),
    backdrop-filter var(--transition-long),
    padding var(--transition-long),
    background var(--transition-long),
    gap var(--transition-long);
}

// --- MOBILE NAV ---
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    transform: translateY(-120%);
    padding: rem(20px) 0;
    transition: transform 0.45s ease;

    .nav__list {
      flex-direction: column;
      gap: rem(16px);
    }
  }


  .header__burger {
    display: flex;
  }
}

// --- HOVER LINK ---
.hover-link {
  position: relative;
  display: inline-block;
  text-decoration: none;

    font-size: rem(18px);
    line-height: 18px;
    transition: color var(--transition-long), font-size var(--transition-long), line-height var(--transition-long);

    @include mq(min, lg) {
      font-size: rem(20px);
      line-height: 20px;
    }  

  .text {
    @include flex;
    position: relative;
    overflow: hidden; // ensures sliding chars are clipped vertically
    padding-right: 7px;
  }

  .initial,
  .hover {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    overflow: hidden;
  }

  .hover {
    position: absolute;
    left: 0; top: 0;
    font-weight: 800;

    > div {
      font-weight: bold;
    }
  }
}


// --- TOUCH DEVICES ---
@media (hover: none) and (pointer: coarse) {
  .hover-link {
    .hover {
      display: none;
    }
  }
}
