@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;

    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        picture,
        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        img {
            object-fit: cover;
            object-position: center;
            // filter: brightness(0.7);
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 70px 0;
        gap: 12vh;
    }
}