@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;

    &__image {
        position: relative;
        width: 100%;
        max-height: 510px;
        overflow: visible;
        z-index: -1;
        margin-top: -68px;

        @include flex-center;

        @include mq(min, sm) {
            position: absolute;
            inset: 0;
            overflow: hidden;
            height: 100%;
            max-height: 100%;
            margin-top: 0; 
        }     
        
        .hero-cta {
            display: block;
            position: absolute;
            margin: auto;
            inset: 0;
            z-index: 1;
        }

        picture,
        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        img {
            object-fit: cover;
            object-position: center;
            // filter: brightness(0.7);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        padding: rem(88px) 0 0;
        gap: rem(30px);

        @include mq(min, sm) {
            padding: rem(140px) 0 rem(50px);
        }

        @include mq(min, rem(1950px)) {
            height: 100vh;
            gap: rem(80px);
            
        }

    }

    .text-with-button-block {
        flex-direction: column;
        align-items: flex-start;
        
        @include mq(min, sm) {
            flex-direction: row;    
        }
    }

    .hero-cta {
        bottom: rem(40px);
        left: 0;
        right: 0;
        margin: auto;

        @include mq(min, sm) {
            bottom: 0;
            margin: 0;
        }     
    }
} 