@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
    padding: 200px 0;

    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        picture,
        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        img {
            object-fit: cover;
            object-position: center;
            // filter: brightness(0.7);
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }
}