@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-slider-stick {
    padding: rem(20px) 0 60px 0;
} 


// 
 
.slider-stick {

    display: flex;
    justify-content: space-between;
    gap: rem(20px);
    flex-direction: column;


    @include mq(min, sm) {
        overflow-x: auto;        
        width: fit-content;
	    flex-wrap: nowrap;
        flex-direction: row; 
        gap: rem(50px);
    }


    &__slide {
        background-color: var(--color-text);
        color: var(--color-white);
        padding: rem(20px);
        width: 100%;

        @include mq(min, sm) {
            padding: rem(40px);
            width: rem(500px);
        }

        &:last-child {
            margin-right: 102px;

            @include mq(min, xxl) {
                margin-right: 600px;
            }            
        }   
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 500;
        margin: 0 0 rem(18px) 0;

        @include mq(min, sm) {
            font-size: 36px;
            line-height: 42px;
        }        
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        
        @include mq(min, sm) {
            font-size: 26px;
            line-height: 32px;
        }         
    }
    
    &__set {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: rem(20px);
        gap: rem(16px);
        color: var(--color-text-light);
        font-size: rem(24px);
    }

    &__icon {
        svg {
            width: rem(32px);
            height: rem(32px);
        }
    }   

}

// @media (max-width: 766px) {
//   .slider-stick {
//     display: block;
//     transform: none !important;
//   }

//   .slider-stick__slide {
//     min-height: 100vh;
//   }
// }

