@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-team {
    padding: rem(120px) 0;
}

 
.swiper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.team-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.team-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.team-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}

.team-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.team-position {
  margin: 0;
  font-size: 1rem;
  opacity: 0.85;
}
