<div class="vi-about">
    <div class="container">

        <div class="square-brackets">[ MAM MEDICAL ]</div>

        <div class="about-grid">

            <div class="about-col">
                <div class="text-block">
                    <h2 class="vi-animate-title">Cучасний<br> медичний центр<br> у Чернівцях</h2>
                </div>

                <div class="about-img about-img-2"> 
                    <img src="assets/img/about-img-2.jpg" alt="">
                </div>

            </div>

            <div class="about-col">
                <div class="about-img about-img-2"> 
                    <img src="assets/img/about-img-1.jpg" alt="">
                </div>
                <div class="caption">
                    <span class="icon">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5 6.5C12.5 5.30653 12.0259 4.16193 11.182 3.31802C10.3381 2.47411 9.19347 2 8 2C6.80653 2 5.66193 2.47411 4.81802 3.31802C3.97411 4.16193 3.5 5.30653 3.5 6.5C3.5 8.346 4.977 10.752 8 13.634C11.023 10.752 12.5 8.346 12.5 6.5ZM8 15C4.333 11.667 2.5 8.833 2.5 6.5C2.5 5.04131 3.07946 3.64236 4.11091 2.61091C5.14236 1.57946 6.54131 1 8 1C9.45869 1 10.8576 1.57946 11.8891 2.61091C12.9205 3.64236 13.5 5.04131 13.5 6.5C13.5 8.833 11.667 11.667 8 15Z" fill="#63121A"/>
                            <path d="M8 8C8.39782 8 8.77936 7.84196 9.06066 7.56066C9.34196 7.27936 9.5 6.89782 9.5 6.5C9.5 6.10218 9.34196 5.72064 9.06066 5.43934C8.77936 5.15804 8.39782 5 8 5C7.60218 5 7.22064 5.15804 6.93934 5.43934C6.65804 5.72064 6.5 6.10218 6.5 6.5C6.5 6.89782 6.65804 7.27936 6.93934 7.56066C7.22064 7.84196 7.60218 8 8 8ZM8 9C7.33696 9 6.70107 8.73661 6.23223 8.26777C5.76339 7.79893 5.5 7.16304 5.5 6.5C5.5 5.83696 5.76339 5.20107 6.23223 4.73223C6.70107 4.26339 7.33696 4 8 4C8.66304 4 9.29893 4.26339 9.76777 4.73223C10.2366 5.20107 10.5 5.83696 10.5 6.5C10.5 7.16304 10.2366 7.79893 9.76777 8.26777C9.29893 8.73661 8.66304 9 8 9Z" fill="#63121A"/>
                        </svg>
                    </span>
                    м.Чернівці, вул. Рівненська, 12Б
                </div>

                <div class="text-block">
                    <p>Створений для підтримки жіночого здоров’я на кожному етапі життя. Ми спеціалізуємось на гінекології, педіатрії,УЗД та супроводі вагітності.</p>
                </div>

            </div>

            <div class="about-col">
                <div class="about-img about-img-3">
                    <div class="about-col-inner">
                        <img src="assets/img/about-img-3.jpg" alt="">
                    </div>
                    <div class="about-col-inner">
                        <img src="assets/img/about-img-4.jpg" alt="">
                    </div>
                </div>

                <div class="text-block">
                    <p>Наші лікарі - професіонали своєї справи з багаторічним досвідом, які поєднують науковий підхід із людяністю та турботою.</p>
                </div>                

            </div>

            <div class="about-col">
                <div class="about-img about-img-5">
                    <img src="assets/img/about-img-5.jpg" alt="">
                </div>
            </div>            

        </div>


    </div>
</div>
