<section id="check-up" class="vi-check-up with-bg" aria-labelledby="checkup-title">
    <div class="container">

            <div class="title-desc-right">
                <div class="text-block">
                    <h2 id="checkup-title" class="vi-animate-title-v2">УЗД Check-up</h2>
                </div>

                <div class="text-block text-split scrub-each-word">
                    <p>Перевіртесь сьогодні -   дбайте про здоров’я наперед</p>
                </div>
            </div>
            
           <div class="cards">

                <article class="card">

                    <div class="card__image">
                        <picture>
                            <!-- AVIF -->
                            <source 
                            srcset="../assets/img/check-up/check-up-1.avif 400w, ../assets/img/check-up/check-up-1.avif 800w, ../assets/img/check-up/check-up-1.avif 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/avif">

                            <!-- WebP -->
                            <source 
                            srcset="../assets/img/check-up/check-up-1.webp 400w, ../assets/img/check-up/check-up-1.webp 800w, ../assets/img/check-up/check-up-1.webp 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/webp">

                            <!-- Fallback JPG/PNG -->
                            <img 
                            src="../assets/img/check-up/check-up-1.png"
                            srcset="../assets/img/check-up/check-up-1.png 400w, ../assets/img/check-up/check-up-1.png 800w, ../assets/img/check-up/check-up-1.png 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            width="552"
                            height="354"
                            alt="Жіноче здоров'я #1"
                            loading="lazy"
                            decoding="async"
                            fetchpriority="low">
                        </picture>
                    </div>

                    <div class="card__body">
                        <h3 class="card__title">Жіноче здоров'я №1</h3>

                        <p class="card__subtitle">Що входить:</p>

                        <ul class="card__tags" role="list">
                            <li class="card__tag">ОЧП</li>
                            <li class="card__tag">Нирки</li>
                            <li class="card__tag">Щитоподібна залоза</li>
                            <li class="card__tag">Молочна залоза</li>
                            <li class="card__tag">Сечовий міхур</li>
                            <li class="card__tag">Органи малого тазу</li>
                        </ul>

                        <div class="card__price" aria-label="Вартість пакету">2 100 грн</div>
                    </div>

                </article>

                <article class="card">

                    <div class="card__image">
                        <picture>
                            <!-- AVIF -->
                            <source 
                            srcset="../assets/img/check-up/check-up-2.avif 400w, ../assets/img/check-up/check-up-2.avif 800w, ../assets/img/check-up/check-up-2.avif 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/avif">

                            <!-- WebP -->
                            <source 
                            srcset="../assets/img/check-up/check-up-2.webp 400w, ../assets/img/check-up/check-up-2.webp 800w, ../assets/img/check-up/check-up-2.webp 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/webp">

                            <!-- Fallback JPG/PNG -->
                            <img 
                            src="../assets/img/check-up/check-up-2.png"
                            srcset="../assets/img/check-up/check-up-2.png 400w, ../assets/img/check-up/check-up-2.png 800w, ../assets/img/check-up/check-up-2.png 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            width="552"
                            height="354"
                            alt="Жіноче здоров'я #1"
                            loading="lazy"
                            decoding="async"
                            fetchpriority="low">
                        </picture>
                    </div>

                    <div class="card__body">
                        <h3 class="card__title">Жіноче здоров'я №12</h3>

                        <p class="card__subtitle">Що входить:</p>

                        <ul class="card__tags" role="list">
                            <li class="card__tag">Щитоподібна залоза</li>
                            <li class="card__tag">Молочна залоза</li>
                            <li class="card__tag">Органи малого тазу</li>
                        </ul>

                        <div class="card__price" aria-label="Вартість пакету">1 500 грн</div>
                    </div>

                </article>
                
                <article class="card">

                    <div class="card__image">
                        <picture>
                            <!-- AVIF -->
                            <source 
                            srcset="../assets/img/check-up/check-up-3.avif 400w, ../assets/img/check-up/check-up-3.avif 800w, ../assets/img/check-up/check-up-3.avif 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/avif">

                            <!-- WebP -->
                            <source 
                            srcset="../assets/img/check-up/check-up-3.webp 400w, ../assets/img/check-up/check-up-3.webp 800w, ../assets/img/check-up/check-up-3.webp 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            type="image/webp">

                            <!-- Fallback JPG/PNG -->
                            <img 
                            src="../assets/img/check-up/check-up-3.png"
                            srcset="../assets/img/check-up/check-up-3.png 400w, ../assets/img/check-up/check-up-3.png 800w, ../assets/img/check-up/check-up-3.png 1200w"
                            sizes="(max-width: 768px) 100vw, 1200px"
                            width="552"
                            height="354"
                            alt="Жіноче здоров'я #1"
                            loading="lazy"
                            decoding="async"
                            fetchpriority="low">
                        </picture>
                    </div>

                    <div class="card__body">
                        <h3 class="card__title">Чоловіче здоров'я</h3>

                        <p class="card__subtitle">Що входить:</p>

                        <ul class="card__tags" role="list">
                            <li class="card__tag">ОЧП</li>

                            <li class="card__tag">Щитоподібна залоза</li>
                            <li class="card__tag">Молочна залоза</li>
                            <li class="card__tag">Органи малого тазу</li>
                        </ul>

                        <div class="card__price" aria-label="Вартість пакету">1 700 грн</div>
                    </div>

                </article>                 

            </div>


    </div>
</section>



<div style="height:100vh;"></div> 
