<section id="doctors" class="vi-doctors with-bg" aria-labelledby="doctors-title">
    <div class="container">
 
            <div class="title-desc-right">
                <div class="text-block">
                    <h2 id="doctors-title" class="vi-animate-title-v2">Команда, що<br> лікує з любовʼю</h2>
                </div>

                <div class="text-block text-split scrub-each-word">
                    <p>Перевіртесь сьогодні - дбайте про здоров’я наперед</p>
                </div>
            </div>
            
            
            <div class="doctors swiper">

                <div class="doctors__wrapper swiper-wrapper">

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-1.png" alt="Doctor 1" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Коржнева<br> Надія Дмитрівна</h3>
                        <p class="doctors-position">Лікар акушер-гінеколог, УЗД</p>
                        </div>
                    </div>
                    </div>

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-2.png" alt="Doctor 2" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Жебчук<br> Аеліта Борисівна</h3>
                        <p class="doctors-position">Лікар-акушер-гінеколог, репродуктолог, УЗД</p>
                        </div>
                    </div>
                    </div>

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-3.png" alt="Doctor 3" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Смакоус<br> Тетяна Миколаївна</h3>
                        <p class="doctors-position">Лікар-акушер-гінеколог, дитячий та підлітковий гінеколог</p>
                        </div>
                    </div>
                    </div>

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-thumb.png" alt="Doctor 4" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Гаврилюк<br> Олександр Дмитрович</h3>
                        <p class="doctors-position">Лікар-терапевт</p>
                        </div>
                    </div>
                    </div>   

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-5.png" alt="Doctor 5" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Сигідин<br> Лілія Теофілівна</h3>
                        <p class="doctors-position">Лікар-терапевт</p>
                        </div>
                    </div>
                    </div> 
                    
                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-6.png" alt="Doctor 6" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Липованчук<br> Ольга Андріївна</h3>
                        <p class="doctors-position">Лікар-педіатр</p>
                        </div>
                    </div>
                    </div> 
                    
                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-7.png" alt="Doctor 7" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Артеменко<br> Анна Олександрівна</h3>
                        <p class="doctors-position">Лікар-ендокринолог, УЗД</p>
                        </div>
                    </div>
                    </div>    
                    
                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-8.png" alt="Doctor 8" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Новосад<br> Вадим Олександрович</h3>
                        <p class="doctors-position">Лікар-онкогінеколог, мамолог</p>
                        </div>
                    </div>
                    </div> 
                    
                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-9.png" alt="Doctor 8" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Капчек<br> Міхаєла Георгіївна</h3>
                        <p class="doctors-position">Сестра медична</p>
                        </div>
                    </div>
                    </div> 

                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-10.png" alt="Doctor 10" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Коржевий<br> Іван Степанович</h3>
                        <p class="doctors-position">Масажист, директор з розвитку</p>
                        </div>
                    </div>
                    </div> 
                    
                    <div class="swiper-slide doctors__slide">
                    <div class="doctors-card">
                        <img src="../assets/img/doctors/doctor-11.png" alt="Doctor 8" class="doctors-photo" />
                        <div class="doctors-info">
                        <h3 class="doctors-name">Паламар<br> Марина Петрівна</h3>
                        <p class="doctors-position">Адміністратор</p>
                        </div>
                    </div>
                    </div>                 
                
                </div>

            </div>


    </div>
</section>



<div style="height:100vh;"></div> 
