<section id="services" class="vi-faq-list" aria-label="Наші медичні послуги">
    <div class="container">

            <div class="title-desc-right">
                <div class="text-block">
                    <h2 class="vi-animate-title-v2">Наші можливості<br> для вашого здоров’я</h2>
                </div>

                <div class="text-block text-split scrub-each-word">
                    <div class="square-brackets" aria-hidden="true">[ MAM MEDICAL ]</div>
                </div>
            </div>        


            <div class="faq-list">
                
                <!-- FAQ item -->
                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">01</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/1-small.jpg" alt="Ультразвукове дослідження">
                        </div>                        
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-1" id="faq-question-1"> Ультразвукова діагностика </button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-1" role="region" aria-labelledby="faq-question-1">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/1.jpg" alt="Приклад УЗД дослідження">
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>ОЧП (печінка,жовчний міхур, підшлункова залова, селезінка)</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Нирки, наднирники,сечоводи, сечовий міхур</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>ОЧП + нирки</span>
                                        </div>
                                        <div class="list-check__price"><span>800 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Щитоподібна залоза</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Молочна залоза</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Органи малого тазу у жінок (трансвагінально + трансабдомінально)</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Передміхурова залоза у чоловіків (трансабдомінально)</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Передміхурова залоза+сечовий міхур+залишкова сеча</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div> 
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Сечовий міхур</span>
                                        </div>
                                        <div class="list-check__price"><span>400 грн</span></div>
                                    </div>
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Судини шиї</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div> 
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Малий термін вагітності</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>
                                    
                                    <div class="list-check__item"> 
                                        <div class="list-check__text">
                                           <span>I скринінг (трансабдомінально + трансвагінально + доплерометрія) 11-13 тижнів</span>
                                        </div>
                                        <div class="list-check__price"><span>800 грн</span></div>
                                    </div>                                     
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>II скринінг (трансабдомінально + трансвагінально + доплерометрія) 18-21 тижнів</span>
                                        </div>
                                        <div class="list-check__price"><span>1000 грн</span></div>
                                    </div>                                     
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>III скринінг (трансабдомінально + транвагінально + доплерометрія) 32-34 тижнів</span>
                                        </div>
                                        <div class="list-check__price"><span>900 грн</span></div>
                                    </div>                                     
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Цервікометрія</span>
                                        </div>
                                        <div class="list-check__price"><span>400 грн</span></div>
                                    </div>                                     
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Фолікулометрія</span>
                                        </div>
                                        <div class="list-check__price"><span>400 грн</span></div>
                                    </div>                                     
                                    
                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Визначення статі дитини (з 16-го тижня)</span>
                                        </div>
                                        <div class="list-check__price"><span>400 грн</span></div>
                                    </div>                                     

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>

                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">02</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/2-small.jpg" alt="">
                        </div>                          
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-2" id="faq-question-2">Консультації лікарів</button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-2" role="region" aria-labelledby="faq-question-2">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/2.jpg" alt="">
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Консультація ендокринолога</span>
                                        </div>
                                        <div class="list-check__price"><span>700 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Консультація терапевта</span>
                                        </div>
                                        <div class="list-check__price"><span>700 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Консультація педіатра</span>
                                        </div>
                                        <div class="list-check__price"><span>700 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Консультація уролога</span>
                                        </div>
                                        <div class="list-check__price"><span>700 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Консультація мамолога</span>
                                        </div>
                                        <div class="list-check__price"><span>700 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Онлайн консультація лікаря спеціаліста</span>
                                        </div>
                                        <div class="list-check__price"><span>650 грн</span></div>
                                    </div>
                                    

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div> 
                </div>

                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">03</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/3-small.jpg" alt="">
                        </div>                          
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-3" id="faq-question-3">Гінекологія</button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-3" role="region" aria-labelledby="faq-question-3">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/3.jpg" alt=""> 
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Фото- та відеокольпоскопія</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Первинний прийом гінеколога (первинна консультація, кольпоскопія,огляд на гінекологічному кріслі, взяття біоматеріалу при потребі, призначення обстеження)</span>
                                        </div>
                                        <div class="list-check__price"><span>800 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Прийом гінеколога без кольпоскопії (первинна консультація, огляд, взяття біоматеріалу. При потребі, призначення додаткових обстежень)</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Пайпель біопсія ендометрію</span>
                                        </div>
                                        <div class="list-check__price"><span>900 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Біопсія шийки матки</span>
                                        </div>
                                        <div class="list-check__price"><span>1500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Введення ВМК «Мірени» під контролем УЗД без вартості спіралі</span>
                                        </div>
                                        <div class="list-check__price"><span>800 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Видалення ВМК</span>
                                        </div>
                                        <div class="list-check__price"><span>600 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Радіохвильове припікання шийки матки</span>
                                        </div>
                                        <div class="list-check__price"><span>4000 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Радіохвильова ексцизія шийки матки</span>
                                        </div>
                                        <div class="list-check__price"><span>8500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Радіохвильове видалення кондилом</span>
                                        </div>
                                        <div class="list-check__price"><span>від 1000 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Обробка шийки матки</span>
                                        </div>
                                        <div class="list-check__price"><span>250 грн</span></div>
                                    </div>
                                    

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div> 
                
                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">04</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/4-small.jpg" alt="">
                        </div>                          
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-4" id="faq-question-4">Маніпуляції</button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-4" role="region" aria-labelledby="faq-question-4">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/4.jpg" alt=""> 
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Внутрішньо-м’язева ін’єкція</span>
                                        </div>
                                        <div class="list-check__price"><span>100 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Внутрішньовенна ін’єкція</span>
                                        </div>
                                        <div class="list-check__price"><span>200 грн</span></div>
                                    </div>

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>  
                
                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">05</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/5-small.jpg" alt="">
                        </div>                          
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-5" id="faq-question-5">УЗД чекапи</button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-5" role="region" aria-labelledby="faq-question-5">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/5.jpg" alt=""> 
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Чекап «Жіноче здоров’я #1»: ОЧП, нирки, щитоподібна залоза, молочна залоза, органи малого тазу, сечовий міхур.</span>
                                        </div>
                                        <div class="list-check__price"><span>2100 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Чекап «Жіноче здоров’я #2»: щитоподібна залоза, молочна залоза, органи малого тазу.</span>
                                        </div>
                                        <div class="list-check__price"><span>1500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Чекап «Чоловіче здоров’я»: ОЧП,нирки щитоподібна залоза, передміхурова залоза, сечовий міхур.</span>
                                        </div>
                                        <div class="list-check__price"><span>1700 грн</span></div>
                                    </div>

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div> 
                
                <div class="faq-list__item">

                    <div class="faq-list__question">
                        <div class="faq-list__num" aria-hidden="true">06</div>
                        <div class="faq-list__img">
                            <img src="assets/img/faq-list/6-small.jpg" alt="">
                        </div>                          
                        <button class="faq-list__text" aria-expanded="false" aria-controls="faq-answer-6" id="faq-question-6">Додаткові послуги</button>
                        <span class="faq-list__icon" aria-hidden="true">
                            <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.97308 6.42536C5.65985 6.73859 5.63374 7.23022 5.89477 7.57319L5.97308 7.6628L18.3474 20.0372C18.6892 20.3789 19.2432 20.3789 19.5849 20.0372C19.8981 19.7239 19.9242 19.2323 19.6632 18.8893L19.5849 18.7997L7.21052 6.42536C6.86881 6.08365 6.31479 6.08365 5.97308 6.42536Z" fill="#63121A"/>
                            <path d="M9.00728 18.5226C8.52403 18.5215 8.13144 18.9124 8.1304 19.3957C8.12945 19.835 8.45243 20.1994 8.87423 20.2628L9.00351 20.2726L18.9641 20.294C19.4047 20.295 19.7697 19.9701 19.8317 19.5469L19.8409 19.4172L19.8203 9.45584C19.8193 8.97259 19.4267 8.58165 18.9435 8.58265C18.5042 8.58356 18.1412 8.90808 18.0795 9.33014L18.0703 9.45946L18.0886 18.5422L9.00728 18.5226Z" fill="#63121A"/>
                            </svg>        
                        </span>
                        <div class="bg-item" aria-hidden="true"></div>
                    </div>

                    <div class="faq-list__answer" id="faq-answer-6" role="region" aria-labelledby="faq-question-6">

                        <div class="faq-list__answer-inner">
                            
                            <div class="answer-img">
                                <img src="assets/img/faq-list/6.jpg" alt=""> 
                            </div>

                            <div class="inner-text">

                                <div class="list-check">

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Електрокардіографія без опису</span>
                                        </div>
                                        <div class="list-check__price"><span>300 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Електрокардіографія з описом</span>
                                        </div>
                                        <div class="list-check__price"><span>500 грн</span></div>
                                    </div>

                                    <div class="list-check__item">
                                        <div class="list-check__text">
                                           <span>Тест на вагітність</span>
                                        </div>
                                        <div class="list-check__price"><span>150 грн</span></div>
                                    </div>

                                    <div class="list-check__item"> 
                                        <div class="list-check__text">
                                           <span>Щеплення від ВПЛ (вакциною Гардасил 9, 1 доза)</span>
                                        </div>
                                        <div class="list-check__price"><span>7000 грн</span></div>
                                    </div>

                                </div>
                                <div class="buttons-wrap">
                                    <button class="button button--wide button-open-modal" aria-haspopup="dialog" aria-controls="appointment-modal">Записатись на прийом</button>
                                </div>

                            </div>
                            
                        </div>

                    </div>
                </div>                 
                

            </div>


    </div>
</section>

