<!doctype html>
<html lang="en" class="is-loading">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>@@title</title>


    <meta name="description" content="Cучасний медичний центр у Чернівцях, створений для підтримки жіночого здоров’я на кожному етапі життя. Ми спеціалізуємось на гінекології, педіатрії,УЗД та супроводі вагітності.">
    <meta name="author" content="Vlasinfo">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.mammedical.com.ua/">
    
    <!-- Favicon & App Icons -->
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="monblan project">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mammedical.com.ua/">
    <meta property="og:title" content="Monblan Project">
    <meta property="og:description" content="Cучасний медичний центр у Чернівцях, створений для підтримки жіночого здоров’я на кожному етапі життя. Ми спеціалізуємось на гінекології, педіатрії,УЗД та супроводі вагітності.">
    <meta property="og:image" content="https://www.mammedical.com.ua/assets/img/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.mammedical.com.ua/">
    <meta property="twitter:title" content="Monblan Project">
    <meta property="twitter:description" content="Cучасний медичний центр у Чернівцях, створений для підтримки жіночого здоров’я на кожному етапі життя. Ми спеціалізуємось на гінекології, педіатрії,УЗД та супроводі вагітності.">
    <meta property="twitter:image" content="https://www.mammedical.com.ua/assets/img/twitter-image.jpg">
    
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VisualArtwork",
      "name": "Monblan Project",
      "description": "Cучасний медичний центр у Чернівцях, створений для підтримки жіночого здоров’я на кожному етапі життя. Ми спеціалізуємось на гінекології, педіатрії,УЗД та супроводі вагітності.",
      "url": "https://www.mammedical.com.ua/,
      "author": {
        "@type": "Person",
        "name": "Monblan Project"
      },
      "dateCreated": "2016-02-17",
      "interactionStatistic": {
        "@type": "InteractionCounter",
        "interactionType": "https://schema.org/FollowAction",
        "userInteractionCount": "11877"
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.mammedical.com.ua/
      }
    }
    </script>
    

<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="mammedical" />
<link rel="manifest" href="/assets/img/favicon/site.webmanifest" /> 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>
