<div class="vi-hero">

    <div class="container">

        <div class="vi-hero__content">
            
            <div class="text-block">
                <h1 class="vi-animate-title"><span class="spasing">MAM</span><br>MEDICAL</h1>
                <div class="desc vi-animate-desc">Медичний центр жіночого здоровʼя</div> 
            </div>

            <div class="text-with-button-block">
                <div class="text-col vi-animate-desc">
                    <p>
                        Лікуємо з любовʼю, здоровʼя<br>
                        мам і дітей - наша місія.
                    </p>
                </div>
                <div class="button-col">

                    <button class="hero-cta button-open-modal" aria-label="Записатись на прийом">
                    <span class="hero-cta__gradient"></span>
                    <span class="hero-cta__wave"></span>
                    <span class="hero-cta__text">
                        Записатись<br>на прийом
                    </span>
                    </button>                 

                </div>
                
            </div>

            
        </div>
    </div>

    <div class="vi-hero__image">         

        <picture>
            <!-- MOBILE: force 480 up to 767px -->
            <source
                media="(max-width: 767px)"
                type="image/avif"
                srcset="../assets/img/hero/hero-480.avif"
            >
            <source
                media="(max-width: 767px)"
                type="image/webp"
                srcset="../assets/img/hero/hero-480.webp"
            >

            <!-- DESKTOP -->
            <source
                type="image/avif"
                srcset="
                ../assets/img/hero/hero-768.avif 768w,
                ../assets/img/hero/hero-1024.avif 1024w,
                ../assets/img/hero/hero-1600.avif 1600w,
                ../assets/img/hero/hero-1920.avif 1920w
                "
                sizes="(min-width: 768px) 90vw"
            >
            <source
                type="image/webp"
                srcset="
                ../assets/img/hero/hero-768.webp 768w,
                ../assets/img/hero/hero-1024.webp 1024w,
                ../assets/img/hero/hero-1600.webp 1600w,
                ../assets/img/hero/hero-1920.webp 1920w
                "
                sizes="(min-width: 768px) 90vw"
            >

            <!-- LCP image (initiator) -->
            <img
                src="../assets/img/orig/hero-1024.jpg"
                alt="Hero Image"
                width="1200"
                height="675"
                loading="eager"
                fetchpriority="high"
                decoding="async"
            >
        </picture>



    </div>
</div>
