<div class="vi-hero">

    <div class="container">

        <div class="vi-hero__content">
            
            <div class="text-block">
                <h1 class="vi-animate-title"><span class="spasing">MAM</span><br>MEDICAL</h1>
                <div class="desc vi-animate-desc">Медичний центр жіночого здоровʼя</div> 
            </div>

            <div class="text-with-button-block">
                <div class="text-col vi-animate-desc">
                    <p>
                        Лікуємо з любовʼю, здоровʼя<br>
                        мам і дітей - наша місія.
                    </p>
                </div>
                <div class="button-col">

                    <button class="hero-cta" aria-label="Записатись на прийом">
                    <span class="hero-cta__gradient"></span>
                    <span class="hero-cta__wave"></span>
                    <span class="hero-cta__text">
                        Записатись<br>на прийом
                    </span>
                    </button>                 

                </div>
                
            </div>

            
        </div>
    </div>

    <div class="vi-hero__image">         

        <picture>
            <source
                type="image/avif"
                srcset="
                ../assets/img/hero/hero-480.avif 480w,
                ../assets/img/hero/hero-768.avif 768w,
                ../assets/img/hero/hero-1024.avif 1024w,
                ../assets/img/hero/hero-1600.avif 1600w,
                ../assets/img/hero/hero-1920.avif 1920w
                "
                sizes="
                (max-width: 300px) 100vw,
                (max-width: 1024px) 90vw,
                1200px
                "
            >

            <source
                type="image/webp"
                srcset="
                ../assets/img/hero/hero-480.webp 480w,
                ../assets/img/hero/hero-768.webp 768w,
                ../assets/img/hero/hero-1024.webp 1024w,
                ../assets/img/hero/hero-1600.webp 1600w,
                ../assets/img/hero/hero-1920.webp 1920w
                "
                sizes="
                (max-width: 300px) 100vw,
                (max-width: 1024px) 90vw,
                1200px
                "
            >

            <img
                src="../assets/img/orig/hero-1024.jpg"
                alt="Hero Image"
                loading="lazy"
                decoding="async"
                width="1200"
                height="675"
            >
            </picture>

    </div>
</div>


<!-- MODAL -->
<div class="modal" aria-hidden="true">
  <div class="modal__overlay"></div>

  <div class="modal__window">
    <button class="modal__close" aria-label="Закрити">×</button>

    <h2 class="modal__title">Запис на прийом</h2>

    <form class="modal__form">
      <input type="text" placeholder="Ваше імʼя" required />
      <input type="tel" placeholder="Телефон" required />
      <input type="email" placeholder="Email" />
      <button type="submit" class="modal__submit">
        Надіслати
      </button>
    </form>
  </div>
</div>
