<!-- MODAL -->
<div class="modal" aria-hidden="true">
  <div class="modal__overlay"></div>
<div class="modal__overflow">
  <div class="modal__window">
    <button class="modal__close" aria-label="Close modal"></button>

    
    <div class="modal__content">

      <div class="modal__col modal__col--info">
        <div class="modal__title is-anitame">Записатись<br> на прийом</div>
        <div class="modal__subtitle is-anitame">Заповність всі поля, і ми звʼяжемось з вами найближчим часом</div>
        <div class="modal__sublogo">[ Mam Medical ]</div>
      </div>

      <div class="modal__col">

        <form class="modal__form">

          <div class="vi-field is-anitame">
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder=" "
              autocomplete="name"
            />
            <label for="name">Ваше ім'я</label>
            <span class="vi-underline"></span>
          </div>

          <div class="vi-field is-anitame">
            <input
              type="tel"
              id="phone"
              name="phone"
              required
              placeholder=" "
              autocomplete="email"
            />
            <label for="phone">Номер телефону</label>
            <span class="vi-underline"></span>
          </div>

          <button type="submit" class="modal__submit is-anitame">Надіслати</button>
        </form>

        <div class="modal__contact-info is-anitame">
          Ви також можете записатись, написавши нам в Instagram Direct, або за номером телефону
        </div>

        <div class="buttons-wrap is-anitame">
          <a href="https://www.instagram.com/mam_medical_cv/" target="_blank" class="button button--small">Запис через Instagram</a>
          <a href="tel:+380503035005" class="button button--small">+38 050 303 50 05</a>
      </div>

    </div>

    </div>
  </div>
</div>
</div>