<div class="vi-slider-stick">
    <div class="container">

        <div class="space-200"></div>


        <div class="racesWrapper">

            <div class="title-desc-right">
                <div class="text-block">
                    <h2 class="vi-animate-title-v2">Досвід, якому<br> довіряють</h2>
                </div>

                <div class="text-block text-split scrub-each-word">
                    <p>Щодня працюємо над тим, щоб надавати пацієнтам сучасну, безпечну та ефективну медичну допомогу</p>
                </div>
            </div>




            <div class="races">
                <div><h2>One</h2></div>
                <div><h2>two</h2></div>
                <div class="Three"><h2>Three</h2></div>
                <div><h2>Four</h2></div>
                <div><h2>Five</h2></div>
            </div>
        </div>

        <div class="space-100vh lightBG"></div>



    </div>
</div>
