@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-animate-title {
    overflow: hidden;
    div,
    .char {
        display: inline-block;
        will-change: transform;
    }
}

.vi-animate-desc {
  will-change: transform, opacity, filter;
}

.vi-prlx-1 {
  will-change: transform;
}


.reveal {
  visibility: hidden;
  position: relative;
  max-width: 100%;
  opacity: 0;
  overflow: hidden;

  img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
  }
}

// 



