@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.vi-animate-title {
    overflow: hidden;
    div,
    .char {
        display: inline-block;
        will-change: transform;
    }
}

.vi-animate-desc {
  will-change: transform, opacity, filter;
}

// Images reveal
.reveal {
  visibility: hidden;
  position: relative;
  max-width: 100%;
  opacity: 0;
  overflow: hidden;

  img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
  }
}

// text reveal

.text-split {
  opacity: 0; /* hide until GSAP sets it visible */
}

.text-split .word,
.text-split .char {
  display: inline-block;
}







