@use "mixins/rem" as *;
@use "mixins/includes" as *;
@use "mixins/media-query" as *;

.buttons-wrap {
    display: flex;
    gap: rem(16px);
} 

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-general);
  font-weight: 400;
  font-size: 14px;

  padding: 12px 10px;
  color: #fff;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  overflow: hidden;
  cursor: pointer;
  border-radius: rem(3px);
  transition: font-weight var(--transition), background-color var(--transition), color var(--transition), box-shadow var(--transition);

    @include mq(min, 560px) {
        font-size: 20px;
        padding: 16px 26px;
    }



 &--outline {
    background: transparent;
    border: 2px solid var(--color-accent);
    color: var(--color-accent);

    &:hover {
     color: var(--color-accent) !important;
     box-shadow: inset 0 0 0 1px var(--color-accent);
     transition: font-weight var(--transition), background-color var(--transition), color var(--transition), box-shadow var(--transition);
     
    }
    
 }
 
  &--small {
    font-size: 14px;
    padding: rem(10px) rem(16px);

    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255,255,255, .2);
    }
  }
 
  &--wide {
    width: 100%;
  }

  /* текст поверх */
  > *:not(.button__flair) {
    position: relative;
    z-index: 2;
  }

  &:hover {
    
    color: #fff;
    font-weight: 600;
    letter-spacing: .2px;
  }

  svg {
    width: 12px;
    margin-left: 4px;
  }

  &__flair {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;

    transform: scale(0);
    will-change: transform, left, top;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;

      width: 200%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: rgba(118, 27, 36, .6);

      transform: translate(-50%, -50%);
    }
  }
}

@media (any-hover: none) and (any-pointer: coarse) {
  .button--outline:focus {
    color: white !important;
  }
}





.hero-cta {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background: var(--color-accent);
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  isolation: isolate;
  @include flex-center;

  position: absolute;
  
  @include mq(min, sm) {
      position: relative;
  }  

  @include mq(min, lg) {
    width: 276px;
    height: 276px;
  }

  &__gradient {
    background: conic-gradient(
      var(--color-accent),
      var(--color-text),
      var(--color-accent)
    );
    opacity: 0.35;
    z-index: 0;
  }

  &__wave {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(
      circle,
      rgba(255,255,255,0.3),
      transparent 60%
    );
    opacity: 0;
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    pointer-events: none;

    @include mq(min, lg) {
      font-size: rem(26px);
    } 
  }
}